<!DOCTYPE html>
<html>
<head>
<style>

.button {
  background-color: #CD5C5C;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px
}
</style>
</head>
<h1> Oops! Looks like you took a wrong turn ! Please select a valid range. </h1>
<button class="button" onclick="window.location.href = 'http://127.0.0.1:5000/'"> GO BACK!</button>

<body>
</body>
</html>